* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Comic Sans MS", cursive, sans-serif;
}
h1 {
	text-align: center;
	margin: 30px;
}
.container {
	position: relative;
	background-color: #808080;
	border: 2px solid black;
	margin: 10px;
	width: 300px;
	float: left;
}
.title {
	background-color: #ffc0cb;
	position: absolute;
	border: 2px solid black;
	width: 100px;
	top: 0;
	right: 0;
}
.text {
	padding-top: 30px;
}